@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap';

// Fonts
$roboto: 'Roboto', Arial, sans-serif;

// Colors
$white: #fff;
$gray-1: #111;
$gray-4: #444;
$gray-c: #ccc;
$pink-light: #ffd9d9;
$red: #9c4245;
$red-light: #b75254;
